*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

body {
  font-family: Roboto;
  margin: 0px;
  padding: 0px;
  color: #757575;
  letter-spacing: 0, 3em;
  background-color: #F5F4FA;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  max-height: 80px;
}

.web {
  color: #2196f3;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  color: #000;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 480px;
}

.menu-header {
  height: 40px;
  width: 40px;
  margin-left: 256px;
}

.logo {
  height: 28px;
  line-height: 28px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.sectionkompu,
.kontakt,
.information {
  display: none;
}

.efectuvni {
  height: 400px;
  background-color: darkslategrey;
  background-image: url(peoplemobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

.efect {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.efect_button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.humanli {
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.human {
  text-align: center;
}

.im {
  height: 19px;
  font-weight: 500px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
  white-space: nowrap;
  margin-top: 30px;
  text-align: center;
}

.prof {
  height: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  white-space: nowrap;
  text-align: center;
}

.komm {
  height: 33px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #212121;
  -ms-flex-item-align: center;
      align-self: center;
  white-space: nowrap;
  margin-bottom: 30px;
}

.humans {
  margin-bottom: 50px;
  padding: 0px;
}

.humanli {
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.icon-zaim {
  height: 70px;
  margin-bottom: 55px;
  margin-top: 55px;
}

.zaim {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

.zaimh3 {
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
}

.textp {
  height: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
  text-align: center;
  white-space: nowrap;
}/*# sourceMappingURL=main.css.map */