*, ::after, ::before {
  box-sizing: border-box;
}
body {
  font-family: Roboto;
  margin: 0px;
  padding: 0px;
  color: #757575;
  letter-spacing: 0,03em;
  background-color: #F5F4FA;
  ;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img{
  display: block;
  width: 100%;
  height: auto;
}

/* ==============header============== */

.header {
  max-height: 80px;
}

.web {
  color: #2196f3;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  color: #000;
}

@media screen and (min-width: 320px) {
/* ++++mobile++++ */

  .nav {
    display: flex;
    flex-direction: row;
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .menu-header {
    height: 40px;
    width: 40px;
    margin-left: 106px;
  }

  .logo {
    height: 28px;
    line-height: 28px;
    padding-top: 6px;
    padding-bottom: 6px ;
  }

  .sectionkompu,
  .kontakt,
  .information {
   display: none;
  }
}

@media screen and (min-width: 481px) {
  /* ++++tablet+++++ */
  /* .menu-header {
    display: none;
  } */

  .nav {
    display: flex;
  }

  .logo {
    padding-left: 16px;
    font-size: 26px;
    line-height: 31px;
    padding-top: 24px;
    padding-bottom: 25px;
  }

  .information {
    display: flex;
    max-width: 289px;
    align-items: center;
  }
  
  .info {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    list-style: none;
    margin: 0px;
    padding-right: 56px;
    color: #212121;
  } 

  .kontakt {
    padding: 10px;
    padding-left: 112px;
    align-items: center;
    color: #212121;
  }

  .kont {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    list-style: none;
    white-space: nowrap;
    color: #212121;
  }
}

@media screen and (min-width: 769px) {
  /* +++desctop+++ */
  .nav {
    display: flex;

  }

  /* .menu-header {
    display: none;
  } */

  .logo {
    font-size: 26px;
    line-height: 31px;
    padding-left: 215px;
    padding-top: 24px;
    padding-bottom: 25px;
  }

  .information {
    display: flex;
    margin: 0px;
    padding-left: 93px;
    padding-top: 32px;
  }

  .info {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    list-style: none;
    color: #212121;
    padding-right: 54px;
  }

  .kontakt {
    display: flex;
    max-height: 16px;
    color: #212121;
    margin: 0px;
    padding-top: 32px;
  }

  .kont {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    list-style: none;
    white-space: nowrap;
    color: #212121;
    padding-right: 50px;
  } 
  
}
/* =====================main================ */

/* -------hero------ */

/* ++++mobile++++ */
  .efectuvni {
    max-height: 480px;
    background-color: darkslategrey;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(img/peoplemobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 118px;
    padding-bottom: 118px;
    /* background-position: center; */
  }

  .efect {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
  }

  .efect_button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border: none;
    padding: 10px 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }


@media screen and (min-width: 481px) {
/* ++++tablet+++++ */
  .efectuvni {
    background-image: url(img/peopletablet.jpg);
  }

  .efect {
    font-size: 44px;
    line-height: 60px;
  }
}

@media screen and (min-width: 769px) and (max-width: 5000px) {
/* +++desctop+++ */
  .efectuvni {
    background-image: url(img/peopledesktop.jpg);
  }

  .efect {
    font-size: 44px;
    line-height: 60px;
  }
}

.efect {
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  /* padding-top: 118px; */
}

.efect_button {
  padding: 10px 24px;
  display: block;
  font-weight: 700px;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background: #2196f3;
  margin: 0 auto;
  white-space: nowrap;
}
/* ------zaimaimoc---- */

.icon-zaim {
  height: 70px;
  margin-bottom: 55px;
  margin-top: 55px;
}

.zaim {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

.zaimh3 {
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
}

.textp {
  height: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
  text-align: center;
}

/* ----komanda---- */

.komm {
  height: 33px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #212121;
  align-self: center;
  white-space: nowrap;
  margin-bottom: 30px;
}
.humans {
  margin-left: 15px;
  margin-bottom: 50px;
  padding: 0px;
}

.humanli {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.human {
  text-align: center;
}
.im {
  height: 19px;
  font-weight: 500px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
  white-space: nowrap;
  margin-top: 30px;
  text-align: center;
}
.prof {
  height: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  white-space: nowrap;
  text-align: center;
}

/* -----clients---- */

.clientsh3 {
  height: 33px;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #212121;
  white-space: nowrap;
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
}

.clientsdiv {
  margin-bottom: 60px;
}

.clientssvg {
  width: calc((100% - 4 * 15) / 2);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 210px;
  height: 90px;
  margin-right: 10px;
  margin-left: 10px;

}

.a {
  padding: 20px 83px;
}
.b {
  padding: 19px 85px;
}
.c {
  padding: 23px 83px 22.4px 84px;
}
.d {
  padding: 23px 64.34px 22.98px 64px;
}
.e {
  padding: 21px 74px 20px 75px;
}
.f {
  padding: 21px 59.52px 21.56px 60px;
}
/* ================footer============ */

footer {
  background: #2f303a;
  width: 480px;
  height: 603px;
}

.logo2 {
  width: 154px;
  height: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin-left: 163px;
  font-family: Raleway;
}

.info-footer {
  width: 232px;
  height: 21px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-left: 86px;
}
.cont {
  padding-left: 40px;
  color: rgba(255, 255, 255, 0.6);
}


