footer {
    background: #2f303a;
    height: 603px;
}
  
.logo2 {
    width: 154px;
    height: 28px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    margin-left: 163px;
    font-family: Raleway;
}
  
.info-footer {
    width: 232px;
    height: 21px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-left: 124px;
    text-align: center;
}
  
.cont {
    padding-left: 40px;
}

@media screen and (min-width: 768px) {
    footer {
      padding-top: 60px;
      font-size: 14px;
      line-height: 1.7;
      height: 252px;
    }
  
    .web,
    .logo2 {
      color: #000;
    }
  
    .logo2 {
      margin: 0px;
      padding-left: 125px;
  
    }
  
    .navfooter {
      margin: 0px;
      padding-left: 90px;
    }
  
    .info-footer {
      margin: 0px;
    }
  
    .cont {
      padding-left: 39px;
    }
}

@media screen and (min-width: 1200px) {
    footer {
      margin-top: 94px;
      padding-top: 60px;
      font-size: 14px;
      line-height: 1.7;
  
    }
  
    .web {
      color: #2196F3;
    }
  
    .logo2 {
      color: #FFFFFF;
    }
    
    .cont,
    .logo2,
    .navfooter {
      padding-left: 0px;
    }
  
    .nav2 {
      padding-left: 215px;
    }
  
}