footer {
    background: #2f303a;
    height: 603px;
}
  
.logo2 {
    width: 154px;
    height: 28px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    margin-left: 163px;
    font-family: Raleway;
}
  
.info-footer {
    width: 232px;
    height: 21px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-left: 124px;
    text-align: center;
}
  
.cont {
    padding-left: 40px;
}