.header {
    max-height: 80px;
}
 
.web {
    color: #2196f3;
}
 
.logo {
    font-family: $font-logo;
    font-weight: 700;
    color: #000;
}

.nav {
    display: flex;
    flex-direction: row;
}

.menu-header {
    height: 40px;
    width: 40px;
    margin-left: 256px;
}

.logo {
    height: 28px;
    line-height: 28px;
    padding-top: 6px;
    padding-bottom: 6px ;
}



@media screen and (min-width: 768px) {
/* ++++tablet+++++ */
.menu-header {
    display: none;
}
  
.nav {
    display: flex;
    margin: 0px;
}
  
.logo {
    padding-top: 10px;
    font-size: 26px;
    line-height: 31px;
}
  
.information {
    display: flex;
    margin-left: 89px;
}
  
.kontakt {
    margin: 0px;
    display: block;
    padding: 10px;
    align-items: center;
    color: #212121;
    padding-left: 10px;
}
  
.div-kontakt {
    display: flex;
}
}

@media screen and (min-width: 1200px) {
    .nav {
        padding: 0px;
        display: flex;
        justify-content: center;
        max-width: 400px;
    }

    .logo {
        padding-left: 115px;
    }

    .information {
        padding-left: 93px;
    }

    .kontakt {
        display: flex;
        margin: 0px;
        padding-left: 335px;
    }
}
