.clientsh3 {

    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: #212121;
    white-space: nowrap;
    margin-top: 138px;
    margin-bottom: 30px;
    text-align: center;
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}




