.zaim {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
  
  }
  
  .zaimh3 {
    height: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #212121;
    text-align: center;
  }
  
  .textp {
    height: 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #757575;
    text-align: center;
    white-space: normal;
  }

@media screen and (min-width: 768px) {

  .zaim {
    display: flex;
    flex-wrap: wrap;
  }
  
  .zaimli {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  
  .textp,
  .zaimh3 {
    text-align: start;
  }
}  

@media screen and (min-width: 1200px) {

  .zaimli {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }

  .textp {
    white-space: normal;
  }
}

