.info {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    list-style: none;
    margin: 0px;
    padding-right: 56px;
    color: $basic-color2;
} 
  
.information:nth-child(3) {
    padding-right: 0px;
}

.kont {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    white-space: nowrap;
    color: $basic-color2;
}
  
.icon-kont {
    height: 14px;
    margin-right: 10px;
}

@media screen and (min-width: 1200px) {
    .kont {
        padding-right: 30px;
    } 
}